<div class="container">

	<div class="block">
		<div class="block-header">
			<div class="block-header-title pull-left">Mobile Apps</div>

		</div>

		<div class="block-body container-fluid ">


			<table class="table table-striped">
				<thead>
					<tr>
						<th>App</th>
						<th>Category</th>
						<th>Version</th>
						<th>Platform</th>
						<th>Status</th>
						<th>Last Update</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{{#data.apps}}
					<tr>
						<td>{{name}}</td>
						<td>{{attributes.overview_category}}</td>
						<td>{{attributes.overview_version}}</td>
						<td>{{attributes.overview_platform}}</td>
						<td>{{attributes.overview_status}}</td>
						<td>{{lastdate attributes.overview_status attributes}}</td>
						<td></td>
					</tr>
					{{/data.apps}}
				</tbody>
			</table>


		</div>
	</div>

</div>

</div>