<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<!--	<a class="brand" href="#"><img src="{{resourcePath}}mobile-mdm.png" style="width:150px"></a>  -->
			<a class="brand" href="#">{{appInfo.headerTitle}}</a>
			{{>top-navigation}}
			<ul class="nav pull-right">


				<li class="search">
					<form class="navbar-search pull-left">
						<input type="text" class="search-query" placeholder="Search" style="width:300px">
					</form>
				</li> {{#compare userLogin 'true'}}
				<li class="dropdown"><a data-toggle="dropdown"
					class="dropdown-toggle" href="#"><i
						class="icon-user icon-white"> </i> Welcome
						{{currentUser.first_name}} <b class="caret icon-white"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">My Devices</a></li>
						<li><a href="{{appInfo.server_url}}console/logout">Logout</a>
						</li>
					</ul></li> 
					
					{{else}}
					
					<li class="dropdown"><a data-toggle="dropdown"
					class="dropdown-toggle" href="#"><i
						class="icon-user icon-white"> </i> Welcome Guest</b></a>
					</li> 
					
					
					{{/compare}}

			</ul>

		</div>

	</div>

</header>